.intro {
    width: 100%;
    height: 1100px;
    padding: 0;
    background: url(/pattern.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
  
header .intro-text {
    font-family: 'Kanit';
    padding-top: 200px;
    margin-left: 5px;
}

.intro h1 {
	color: #333;
}

#menu.navbar-default {
	background-color:  #262626;
    border-color: rgba(231, 231, 231, 0);
}

#portfolio .section-title {
    margin-top: 50px;
}

/* Checkbox */
input[type=checkbox] {
    transform: scale(1.3, 1.3);
    zoom: 1.1;
}

.btn.btn-primary {
    background-color: #007CB7 !important;
    font-weight: normal !important;
    font-size: 14px;
} 

.quantity {
    display: inline-block; 
}

.quantity .input-text.qty {
    width: 30px;
    height: 23px;
    padding: 0 5px;
    text-align: center;
    background-color: transparent;
    border: 1px solid #efefef;
}

.quantity.buttons_added {
    text-align: left;
    position: relative;
    white-space: nowrap;
    vertical-align: top; 
}

.quantity.buttons_added input {
    display: inline-block;
    margin: 0;
    vertical-align: top;
    box-shadow: none;
}

.quantity.buttons_added .minus,
.quantity.buttons_added .plus {
    height: 23px;
    width: 23px;
    color: #fff;
    background-color: #007CB7;
    border-radius: 50%;
    cursor:pointer;
}

.quantity.buttons_added .minus {
    border-right: 0; 
}

.quantity.buttons_added .plus {
    border-left: 0; 
}

.quantity input::-webkit-outer-spin-button,
.quantity input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0; 
}

input:focus {
    outline: none; 
}