body, html {
    height: 100%;
}

.bgGradient {
    height: 100%;
    background-color: whitesmoke; 
    /* For browsers that do not support gradients */
    background-image: linear-gradient(whitesmoke, lightgray); 
    /* Standard syntax (must be last) */

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* // กำลังทำอยู่ */