<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>COSCI - ระบบยืมคืนอุปกรณ์ครุภัณฑ์</title>
    <meta name="description" content="">
    <meta name="author" content="">
    
    <!-- =============== Stylesheet ===============  -->
    <link rel="stylesheet" type="text/css"  href="/superadminStyle.css">
    <link rel="stylesheet" type="text/css"  href="/fontface.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kanit:200,300,400,500,600,700&amp;subset=thai" rel="stylesheet">
</head>

<body class="bgGradient">
  <nav>
      // กำลังทำอยู่
      // https://www.w3schools.com/howto/howto_js_topnav_responsive.asp
  </nav>
</body>
<footer>
    footer
</footer>
</html>